body {
	font-family: oswald;
	background: rgb(209, 209, 209);
}


h1 {
	color: #B23370;
	font-size: 40px;
	font-family: oswald;
	text-align: center;

}
a { text-decoration: none; }
a:hover {background: white;} 

img {
	width: 400px;

}